.overviewContainer {
  padding: 2rem;
  background-color: var(--card-bg-color);
  border-radius: 0.5rem;
}

.overviewHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 2rem;
}

.overviewContent {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.title {
  font-size: 14px;
  color: var(--text-color);
  font-weight: 700;
}

.dailyTotal {
  font-size: 2.225rem;
  color: var(--text-color-strong);
}

.variation {
  display: flex;
  align-items: center;
  gap: 0.2rem;
}

.variation small {
  font-weight: 700;
}
